
*{
    box-sizing: border-box;
    padding:0px;
    margin:0px;
}
.nav-section{
    margin:10px 10px;
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    color:white;
    height: 40px;
    align-items: center;
}
.nav-sub-section ul {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    color:white;
    align-items: center;
    height: 25px;
}
.nav-sub-section ul li {
    list-style-type: none;
   

}
.nav-sub-section ul a{
    text-decoration: none;
    color:white;
}
.sample-section{
    display: flex;
    justify-content: space-evenly;
    margin:10px 10px;
}
.sample-section  img {
width:90%;
}
.full-section{
    display: grid;
    grid-template-columns: repeat(4,250px);
    gap:10px;
   justify-content: space-evenly;
   margin:10px 15px;
}
.full-details{
    text-align: center;
}
.full-image-box{
    width:80%;
}
.full-image-box img{
    width:100%;
}
.single-section{
    display: flex;

}
.single-section .single-img-box{
    width:50vw;
}
.single-section .single-img-box img{
    width:90%;
}
.single-section .single-details{
    display: flex;
    flex-direction: column;
    margin:45px 10px;
    padding:30px 5px;
    gap:25px;
    background-color: aqua;
    align-items: center;
}
.single-details span{
    color:red;
}
.full-two{
    display: flex;
}
.full-two .full-selected {
width:30%;
margin:5px 15px;
font-size: 20px;
}
.cart-section{
    display: flex;
    justify-content: space-evenly;
    margin:30px 25px;
}
 .cart-image{
    width:400px;
 }
 .cart-detals{
    width:500px;
 }
